@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url('https://www.w3schools.com/lib/w3-theme-blue-grey.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html,
body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Open Sans", sans-serif
}

.button {
    width: 25%;
    background-color: darkgray;
    border: 1px solid gray;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    float: left;
}

.button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}

.button:hover {
    background-color: gray;
}

.tablink {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
  }
  
  .w3-red {
    background-color: red;
    color: white;
  }
  
  .myLink {
    display: none;
  }
  